*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    outline: none;
    
}
body{
    margin-right: 5px;
    font-size: 16px;
    background-color: #009688;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 400;
    background: url(1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    
}
.custom-box{
    position: absolute;
    right: 3cm;
    max-width: 700px;
    background-color: #ffffff;
    margin: 70px auto;
    padding: 30px;
    border-radius: 5px;
}
.custom-box h3{
    text-transform: uppercase;
    font-weight: 700;
}
.custom-box::before,
.custom-box::after{
    content: '';
    display: table;
} 
.custom-box.hide{
    display: none;
}
.home-box{
    position: absolute;
    left: 6cm;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 50px;
    color: #000000;
    font-weight: 500;
    position: relative;
}
.home-box p span{
    font-weight: 500;
}
.btn{
    padding: 15px 40px;
    background-color: #009688;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 16px;
    cursor:pointer;
    display: inline-block;
    text-transform: uppercase;
    
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .cautiep-btn,
.quiz-box .answers-indicator{
    width: 100%;
    float: left;
}

.quiz-box .question-number{
    font-size: 18px;
    color: #009688;
    font-weight: 600;
    border: 1px solid white;
    padding-bottom: 10px;
    line-height: 25px;

}
.quiz-box .question-text{
    font-size: 22px;
    color:black;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .option-container .option{
    background-color: #ffffff;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.3 ease forwards ;
    position: relative;
    overflow: hidden;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.quiz-box .option-container .option.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;

}
.quiz-box .option-container .option.wrong{
    color: #ffffff;
}

.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;

}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.quiz-box .option-container .option.correct{
    color: #ffffff;
}
.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}
.quiz-box .btn{
    margin: 15px 0;
}
.quiz-box .answers-indicator{
    border-top: 1px solid #cccccc;
}
.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
}
.quiz-box .answers-indicator div.correct{
    background-color: green;
}
.quiz-box .answers-indicator div.wrong{
    background-color: red;
}
.result-box{
    text-align: center;
}
.result-box .hide{
    display: none;
}
.result-box h1{
    font-size: 36px;
    line-height: 40px;
    color: #009688;

}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;

}
.result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px ;
    font-weight: 700;
    color: #000000;
    width: 50%;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
}
.result-box .btn{
    margin-right: 20px;
    text-transform: uppercase;
}
